<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plugin Test Page</title>

  <script src="{{ '/share-highlight.js' | url }}" async defer />
</head>
<body>
  {{ content | safe }}
</body>
</html>